body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url(StartUpPageHeader.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  color: rgb(121, 53, 150);
  position: fixed;
  width: 100%;
  height: 10%;
  top: 25vh;
  padding: 0 10%;
  font-weight: bolder;
  font-size: 3vw;
  text-align: center;
}

.button__container {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 70vh;
  display: flex;
  justify-content: center;
}
