body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url(StartUpPageHeader.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.header {
  color: darkviolet;
  position: absolute;
  top: 25%;
  left: 15%;
  font-weight: bolder;
  font-size: 40px;
}
.button-container {
  width: 180px;
  height: 50px;
  position: absolute;
  top: 66%;
  left: 44%;
}
.button {
  width: 180px;
  height: 50px;
  background-color: red;
  border-radius: 300px;
  border-color: red;
  font-weight: 900;
}